* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}



header {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.15)), url(finalimage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  width: 100%;
  height: 15vh;
  background: rgba(0, 0, 0, 0.2);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

nav .logo {
  display: flex;
  align-items: center;
}

nav .logo img {
  width: 70px;
  height: 70px;
  margin-right: 10px;
  margin-left: 110px;
}

nav .logo h1 {
  font-size: 20px;
  margin: 20px;
}



nav .menu {
  width: 40%;
  display: flex;
  justify-content: space-around;
}

nav .menu a {
  width: 25%;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav .menu a:first-child {
  color: #00b894;
}

main {
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

section h3 {
  font-size: 35px;
  font-weight: 200;
  letter-spacing: 3px;
  text-shadow: 1px 1px 2px black;
}

section h1 {
  margin: 30px 0 20px 0;
  font-size: 55px;
  font-weight: 700;
  text-shadow: 2px 1px 5px black;
  text-transform: uppercase;
}

section p {
  font-size: 25px;
  word-spacing: 2px;
  margin-bottom: 25px;
  text-shadow: 1px 1px 1px black;
}

section a {
  padding: 12px 30px;
  border-radius: 4px;
  outline: none;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 1px;
  transition: all 0.5s ease;
}

section .btnone {
  /*background: #00b894;*/
  background: #fff;
  color: #000;
}

.btnone:hover {
  background: #00b894;
  color: white;
}

section .btntwo {
  background: #00b894;
  color: white;
}

.btntwo:hover {
  background: #fff;
  color: #000;
}

.change_content:after {
  content: "";
  animation: changetext 10s infinite linear;
  color: #00b894;
}

.footer{
  margin:0;
  padding:0;
  font-family:'poppins', sans-serif;
  box-sizing:border-box;
  margin-top: 150px;
  width: 100%;
  padding: 100px 15%;
  background: #333;
  color: #efefef;
  display: flex;
}


.footer div{
  text-align:center;

}
.col-2{
  flex-grow:2;
}

.footer div h3{
  font: weight 300px;
  margin-bottom: 30px;
  letter-spacing: 1px;

}
.col-1 a{
  display:block;
  text-decoration: none;
  color: #efefef;
  margin-bottom: 10px;

}

.footer  :hover{
  color: #fff;
  padding-left: 8px;
}
form input{
  width: 400px;
  height: 45px;
  border-radius: 4px;
  text-align: center;
  margin-top: 20px;
  margin-bottom:40px;
  outline: none;
  border: none;
}
form button{
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 30px;
  padding: 10px 30px;
  font-size: 15px;
  cursor: pointer;
}


@keyframes changetext {
  0% {
    content: "Indore";
  }
  20% {
    content: "Kashmir";
  }
  40% {
    content: "Goa";
  }
  60%{
    content: "Varanasi";
  }
  80%{
    content: "Delhi";
  }
  100% {
    content: "Mumbai";
  }
  .cb-slideshow,
  .cb-slideshow:after { 

    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0; 
  }
  .cb-slideshow:after { 
    content: '';
    background: transparent url(../images/pattern.png) repeat top left; 
  }
  .cb-slideshow li span { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 36s linear infinite 0s; 
  }
  .cb-slideshow li div { 
    z-index: 1000;
    position: absolute;
    bottom: 30px;
    left: 0px;
    width: 100%;
    text-align: center;
    opacity: 0;
    color: #fff;
    animation: titleAnimation 36s linear infinite 0s; 
  }
  .cb-slideshow li div h3 { 
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    font-size: 240px;
    padding: 0;
    line-height: 200px; 
  }
  .cb-slideshow li:nth-child(1) span { 
    background-image: url(tt.jpg) 
  }
  .cb-slideshow li:nth-child(2) span { 
    background-image: url(project.jpg);
    animation-delay: 6s; 
  }
  .cb-slideshow li:nth-child(3) span { 
    background-image: url(tt.jpg);
    animation-delay: 12s; 
  }
  .cb-slideshow li:nth-child(4) span { 
    background-image: url(project.jpg);
    animation-delay: 18s; 
  }
  .cb-slideshow li:nth-child(5) span { 
    background-image: url(tt.jpg);
    animation-delay: 24s; 
  }
  .cb-slideshow li:nth-child(6) span { 
    background-image: url(project.jpg);
    animation-delay: 30s; 
  }

  .cb-slideshow li:nth-child(2) div { 
    animation-delay: 6s; 
  }
  .cb-slideshow li:nth-child(3) div { 
    animation-delay: 12s; 
  }
  .cb-slideshow li:nth-child(4) div { 
    animation-delay: 18s; 
  }
  .cb-slideshow li:nth-child(5) div { 
    animation-delay: 24s; 
  }
  .cb-slideshow li:nth-child(6) div { 
    animation-delay: 30s; 
  }
  @keyframes imageAnimation { 
    0% { opacity: 0; animation-timing-function: ease-in; }
    8% { opacity: 1; animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
  }
  @keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
}
.footer{
  margin:0;
  padding:0;
  font-family:'poppins', sans-serif;
  box-sizing:border-box;
  margin-top: 00px;
  width: 100%;
  padding: 100px 15%;
  background: #333;
  color: #efefef;
  display: flex;
}

.footer div{
  text-align:center;

}
.col-2{
  flex-grow:2;
}

.footer div h3{
  font: weight 300px;
  margin-bottom: 30px;
  letter-spacing: 1px;

}
.col-1 a{
  display:block;
  text-decoration: none;
  color: #efefef;
  margin-bottom: 10px;

}

.footer  :hover{
  color: #fff;
  padding-left: 8px;
}
form input{
  width: 400px;
  height: 45px;
  border-radius: 4px;
  text-align: center;
  margin-top: 20px;
  margin-bottom:40px;
  outline: none;
  border: none;
}
form button{
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 30px;
  padding: 10px 30px;
  font-size: 15px;
  cursor: pointer;
}
i.fa-brands.fa-square-instagram{
  font-size: 34px;
  position: relative;
  left: 10px;
  top: 5px;
}
i.fa-brands.fa-square-twitter{
  font-size: 34px;
  position: relative;
  left: 10px;
  top: 5px;
}
i.fa-brands.fa-square-facebook{
  font-size: 34px;
  position: relative;
  left: 10px;
  top: 5px;
}
i.fa-brands.fa-square-behance{
  font-size: 34px;
  position: relative;
  left: 10px;
  top: 5px;
}














header {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.15)),
    url(background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  width: 100%;
  height: 15vh;
  background: rgba(0, 0, 0, 0.2);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

nav .logo {
  width: 25%;
  text-align: center;
  /*background: red;*/
}

nav .menu {
  width: 40%;
  display: flex;
  justify-content: space-around;
}

nav .menu a {
  width: 25%;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav .menu a:first-child {
  color: #00b894;
}

main {
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

section h3 {
  font-size: 35px;
  font-weight: 200;
  letter-spacing: 3px;
  text-shadow: 1px 1px 2px black;
}

section h1 {
  margin: 30px 0 20px 0;
  font-size: 55px;
  font-weight: 700;
  text-shadow: 2px 1px 5px black;
  text-transform: uppercase;
}

section p {
  font-size: 25px;
  word-spacing: 2px;
  margin-bottom: 25px;
  text-shadow: 1px 1px 1px black;
}

section a {
  padding: 12px 30px;
  border-radius: 4px;
  outline: none;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 1px;
  transition: all 0.5s ease;
}

section .btnone {
  /*background: #00b894;*/
  background: #fff;
  color: #000;
}

.btnone:hover {
  background: #00b894;
  color: white;
}

section .btntwo {
  background: #00b894;
  color: white;
}

.btntwo:hover {
  background: #fff;
  color: #000;
}

.change_content:after {
  content: "";
  animation: changetext 10s infinite linear;
  color: #00b894;
}


.footer{
  margin:0;
  padding:0;
  font-family:'poppins', sans-serif;
  box-sizing:border-box;
  margin-top: 150px;
  width: 100%;
  padding: 100px 15%;
  background: #333;
  color: #efefef;
  display: flex;
}

.footer div{
  text-align:center;

}
.col-2{
  flex-grow:2;
}

.footer div h3{
  font: weight 300px;
  margin-bottom: 30px;
  letter-spacing: 1px;

}
.col-1 a{
  display:block;
  text-decoration: none;
  color: #efefef;
  margin-bottom: 10px;

}

.footer  :hover{
  color: #fff;
  padding-left: 8px;
}
form input{
  width: 400px;
  height: 45px;
  border-radius: 4px;
  text-align: center;
  margin-top: 20px;
  margin-bottom:40px;
  outline: none;
  border: none;
}
form button{
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 30px;
  padding: 10px 30px;
  font-size: 15px;
  cursor: pointer;
}





@keyframes changetext {
  0% {
    content: "Indore";
  }
  20% {
    content: "Kashmir";
  }
  40% {
    content: "Goa";
  }
  60%{
    content: "Varanasi";
  }
  80%{
    content: "Delhi";
  }
  100% {
    content: "Mumbai";
  }
  .cb-slideshow,
  .cb-slideshow:after { 

    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0; 
  }
  